@media screen and (max-width: 1015px) {
                           .purple-box {
                                        width: 33%;}
                           .yellow-box {
                                        width: 33%;}
                           .turquoise-box {
                                           width: 33%;}
                                                       }

img {
     max-width: 100%;}
