@import url('https://fonts.googleapis.com/css?family=Jaldi');

#container {
            display: flex;
            flex-wrap: wrap;
            font-family: 'Jaldi', sans-serif;}

.purple-box {
             background-color: rgb(155, 40, 235);
             width: 100%;
             text-align: center;
             padding: 5px;}

.yellow-box {
             background-color: rgb(242, 233, 17);
             width: 100%;
             text-align: center;
             padding: 5px;}

.turquoise-box {
                background-color: rgb(14, 128, 110);
                width: 100%;
                max-height: 350px;
                text-align: center;
                padding: 5px;
                overflow: scroll;}

@media screen and (min-width: 1015px) {
                                       .purple-box {
                                                    width: 49%;}
                                       .yellow-box {
                                                    width: 49%;}
                                       .turquoise-box {
                                                       width: 100%;}
                                                                    }

img {
     width: 600px;
     height: 400px;
     max-width: 100%;}

a {
   color: rgb(242, 233, 17);}
